{% assign title = post.title %}

<article>
  <header>
    {% if post.date %}
    <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
    {% endif %}
    <h2><a href="{{ post.url | relative_url }}">{{ title }}</a></h2>
  </header>
  {% if post.image %}
    {% if post.image.thumbnail %}
      {% assign entry_image = post.image.thumbnail %}
    {% elsif post.image.header %}
      {% assign entry_image = post.image.header %}
    {% else %}
      {% assign entry_image = post.image %}
    {% endif %}
    {% unless entry_image contains '://' %}
      {% assign entry_image = entry_image | relative_url %}
    {% endunless %}
    {% assign entry_image = entry_image | escape %}
    <a href="{{ post.url | relative_url }}" class="image fit">
      <img src="{{ entry_image }}" alt="" />
    </a>
  {% endif %}
  {% if post.description %}
    <p>{{ post.description }}</p>
  {% elsif post.excerpt %}
    {{ post.excerpt }}
  {% endif %}
  <ul class="actions special">
    <li><a href="{{ post.url | relative_url }}" class="button">Full Story</a></li>
  </ul>
</article>
