{% if site.twitter %}
  <li>
    <a href="https://www.twitter.com/{{ site.twitter }}" class="icon alt fa-twitter">
      <span class="label">Twitter</span>
    </a>
  </li>
{% endif %}
{% if site.facebook %}
  <li>
    <a href="https://www.facebook.com/{{ site.facebook }}" class="icon alt fa-facebook">
      <span class="label">Facebook</span>
    </a>
  </li>
{% endif %}
{% if site.instagram %}
  <li>
    <a href="https://instagram.com/{{ site.instagram }}" class="icon alt fa-instagram">
      <span class="label">Instagram</span>
    </a>
  </li>
{% endif %}
{% if site.github %}
  <li>
    <a href="https://github.com/{{ site.github }}" class="icon alt fa-github">
      <span class="label">GitHub</span>
    </a>
  </li>
{% endif %}
