---
layout: default
is_preload: true
---

<section class="post">
  {% if page.header %}
  <header class="major">
    {% if page.header.date %}
      <span class="date">{{ page.header.date }}</span>
    {% elsif page.date %}
      <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
    {% endif %}

    {% if page.header.title %}
      <h1>{{ page.header.title }}</h1>
    {% endif %}

    {% if page.header.description %}
      <p>{{ page.header.description }}</p>
    {% endif %}
  </header>
  {% endif %}

  {% if page.image %}
    {% if page.image.thumbnail %}
      {% assign entry_image = page.image.thumbnail %}
    {% elsif page.image.header %}
      {% assign entry_image = page.image.header %}
    {% else %}
      {% assign entry_image = page.image %}
    {% endif %}
    {% unless entry_image contains '://' %}
      {% assign entry_image = entry_image | relative_url %}
    {% endunless %}
    {% assign entry_image = entry_image | escape %}
    <img src="{{ entry_image }}" class="image main" alt="" />
  {% endif %}

  {{ content }}
</section>
